#quiz-account > div > .shadow {
    height: 27rem;
}

#step-1 {
    width: 3rem; 
    height:3rem;
    left: 0%;
}

#step-2 {
    width: 3rem; 
    height:3rem;
    left: 25% !important;
}

#step-3 {
    width: 3rem; 
    height:3rem;
    left: 50%;
}

#step-4 {
    width: 3rem; 
    height:3rem;
    left: 75%;
}

#step-5 {
    width: 3rem; 
    height:3rem;
    left: 100%;
}

#great-value {
    width: 80%;
    background: gold;
}

.select-lenses-active {
    background-color: gainsboro;
}

#btn-reOrder, #btn-continue2, #btn-continue3  {
    width: 100%;
    max-width: 250px;
    color: white;
    font-weight: bold;
    background-color: rgb(33, 51, 104);
}

#btn-reOrder:hover, #btn-continue2:hover, #btn-continue3:hover  {
    color: rgb(33, 51, 104) !important;
    background-color: white !important;
    box-shadow: inset 0 0 0 3px rgb(33, 51, 104) !important;
}

#btn-continue {
    width: 100%;
    max-width: 250px;
    color: rgb(33, 51, 104);
    font-weight: bold;
    background-color: rgb(246, 213, 49);
}

#btn-continue:hover {
    color: rgb(33, 51, 104) !important;
    background-color: white !important;
    box-shadow: inset 0 0 0 3px rgb(33, 51, 104) !important;
}

label[for^='remind-']:hover {
    background-color: rgb(255, 219, 110) !important;
}

#summary{
    top: 20px;
}
